html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  max-width:800px;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 750px;
  
}
.footer {
  flex-shrink: 0;
  margin-bottom: 0;
}

/* Journal.css */

.journal-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.journal-entry-form {
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}
