/* MovesBox.css */

.moves-container {
  background-color: #f8f8f8;
  padding: 1rem; /* Increased padding */
  border-radius: 12px; /* Increased border-radius */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increased box-shadow */
  display: inline-block;
}

.moves-heading {
  font-weight: bold;
  font-size: 2rem; /* Increased font size */
}

.moves-text {
  font-size: 3rem; /* Increased font size */
  font-weight: bold;
  color: #f81e1eea;
  margin-bottom: 1.5rem; /* Increased margin-bottom */
}

.checkbox-label {
  width: 30px; /* Increased width */
  height: 30px; /* Increased height */
  background-color: #3498db;
}

.timer-button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem; /* Increased padding */
  border: none;
  border-radius: 8px; /* Increased border-radius */
  cursor: pointer;
}

.timer-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.on-button,
.off-button,
.moves-mute-button,
.moves-unmute-button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem; /* Increased padding */
  border: none;
  border-radius: 8px; /* Increased border-radius */
  cursor: pointer;
}

.moves-mute-button.moves-mute-bg {
  background-color: #e74c3c;
}

.moves-unmute-button.moves-unmute-bg {
  background-color: #2ecc71;
}
