/* TimerBox.css */

.border-box {

  background-color: #f8f8f8;
  border-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

 
}

.timer-space-container {
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-bottom: 500px;
  font-family: Arial, sans-serif;
}

.timer-border-box {
  background-color: #f8f8f8;
  border-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* Adjust the margin-bottom value */
  margin-top: 20px; /* Adjust the margin-top value */
  padding-left: 20px;
  padding-right: 20px;
}

.timer-container {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Stack children vertically */
  /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  padding-bottom: 1.3rem;
}

.title-center {
  text-align: center;
}

.timer-text {
  font-size: 2rem; /* Reduced font size */
  font-weight: bold;
}

.timer-text-lg {
  font-size: 3rem; /* Reduced font size */
  padding-top: 0.5rem; /* Reduced padding-top */
  padding-bottom: 0.5rem; /* Reduced padding-bottom */
}

.timer-button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 0.1rem 0.2rem; /* Reduced padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
  
}

.timer-button.stop-button {
  margin-left: 10px; /* Adjust the margin as needed */
}


.timer-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.timer-label {
  text-align: center;
  margin-top: 0.5rem;
  margin: 0 auto;
  width: 120px;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  
  /* Reduced margin-top */
}

.timer-heading {
  font-weight: bold;
  font-size: 1.2rem; /* Reduced font size */
  padding-bottom: 10px;
}

.set-timer-duration-text {
  font-size: 1rem; /* Reduced font size */
  color: #333;
  padding-bottom: 10px;
  padding-top: 20px;


}


.input {
  margin-top: 0.3rem;
  text-align: center;  
}
/* 
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  padding-bottom: 250px;
  margin-top: auto;
  
} */
