/* TimerBox.css */

.timer-container {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 500px;
}

.title-center{
  text-align: center;
}
.timer-text {
  font-size: 3rem;
  font-weight: bold;
}

.timer-text-lg {
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.timer-button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.timer-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.timer-label {
  text-align: center;
  margin-top: 1rem;
}

.timer-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.set-timer-duration-text {
  font-size: 1.25rem;
  color: #333;
}

.input {
  margin-top: 0.5rem;
}
